*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  background: #DBD2DF;
  -webkit-animation: fade-in 1s linear; /* Safari 4+ */
  -moz-animation: fade-in 1s linear; /* Fx 5+ */
  -o-animation: fade-in 1s linear; /* Opera 12+ */
  animation: fade-in 1s linear; /* IE 10+, Fx 29+ */
}

a {
  text-decoration: none;
  transition: font-size 0.3s ease;
}

a:hover {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 1em red;
  font-size: 1.3em;
}

img {
  width: 200px;
  height: auto;  
  box-shadow: 1px 1px 1px black, 0 0 1em red;
  transition: width 0.3s ease;
}

img:hover {
  width:140px;
  box-shadow: 5px 5px 5px black, 0 0 5em red;
}

h1, h2 {
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px black, 0 0 1em red;  
}

.container {
  position: relative;
  margin: 0 auto; 
  width: 1024px; 
  min-height: 100vh;  
}

.header {
  position: fixed;
  margin-top: -56px;
  width: 1024px;
  min-height: 56px;
  box-shadow: 0.14px 1px 3px 1px rgba(0,1,1,.118);
  display: flex;
  justify-content: center;
  align-items: center;  
  z-index: 2;
  opacity: 0.99;
  background: #B1A3B8;
}

.header__menu {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__menu_link {
  color: white;
  font-size: 1.1rem;
}

.main {
  width: 1024px;
  min-height: 100%;
  z-index: 2;
  opacity: 0.99;
}

.about__main {
  margin-top: 3.5rem;
}

.about__main_hero {
  padding: 3.5em 0;
  min-height: 700px;
  background: url("https://sun9-86.userapi.com/impf/c834203/v834203143/17ba83/7Y1L4iagb4U.jpg?size=2560x1920&quality=96&sign=dfa38d43941507ef5c1a3addb25cb322&type=album") no-repeat top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
}

.about__main_hero img {
  height: auto;
  width: 170px;
  border-radius: 30%;
  transition: width 0.5s ease;
}

.about__main_hero img:hover {
  width: 190px;
}

.about__main_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-family: 'Balthazar', 'Roboto', sans-serif;
}

.name_info {
  font-size: 2.2rem;
}

.links_info {
  margin-top: 2rem;
}

.links_info a{
  margin: 0 6px;
  font-size: 3rem;
  color: #fff;
  -webkit-transition: .3s cubic-bezier(.68,-.55,.265,1.55);
  transition: .3s cubic-bezier(.68,-.55,.265,1.55);
  transition: font-size 0.3s ease;
}

.links_info a:hover {
  color: #B1A3B8;
  font-size: 3.5em;
}

.links_info li {
  list-style-type: none;
  display: inline;
}

.contacts,
.summary {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 1.6rem;
}

.contacts h2 {
  font-weight: 300;
}

.skills__main,
.examples__main,
.experience__main,
.education__main,
.english__main {
  margin-top: 3.5rem;
  padding: 28px 68px;
  width: 100%;
  height: auto;  
  border-bottom-right-radius: 30px;
  background: white;
}

.skills__main_container {
  width: 100%;
  display: grid;
  grid:
  'coding design manege'
  / 1fr    1fr    1fr;
  column-gap: 1.5rem;
}

.skills_coding {
  grid-area: coding;
}

.skills_design {
  grid-area: design;
}

.skills_manage {
  grid-area: manege;
}

.skills_group {
  font-size: 1.3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #B1A3B8;
}

.skills_name_group {
  text-align: start;
}

.skills_name_group li {
  list-style: none;
  margin-top: 1rem;
}

.circle {
  margin-right: 0.5rem;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #B1A3B8;
  display: inline-block;  
}

.experience_text_box {
  width: 100%;
  display: grid;
  grid: 'company experience' / 2fr 3fr;
  column-gap: 1.5rem;
}

.company {
  grid-area: company;
  text-align: justify;
}

.experience_text {
  grid-area: experience;
  text-align: justify;
}

.title_company {
  font-size: 1.3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #B1A3B8;
}

.footer {
  margin: 0 auto;
  margin-top: 3.5rem;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #B1A3B8;
}

.footer img {
  width: 100px;
  height: auto;  
  box-shadow: none;
  transition: width 0.3s ease;
}

footer img:hover {
  width: 130px;
  box-shadow: none;
}

.footer p {
  font-size: 50px;
}

/*плавная загрузка страниц*/
@-webkit-keyframes fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@-moz-keyframes    fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@-o-keyframes      fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@keyframes         fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }

/* CSS Mobile */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
  .header {
    width:100%;
  }   
}
